body 
{
margin: 0;
padding: 0;
overflow-x: hidden;
background-color: aliceblue;
}
input 
{
text-align: right;
font-size: 25px !important;
}
.btn-secondary
{
width: 24.4%;
height: auto;
padding: 14px;
}
.btn-info
{
width: 24.4%;
height: auto;
padding: 14px;
}

@media only screen and (max-width:553px)
{
input 
{
text-align: right;
font-size: 25px !important;
}
.btn-secondary
{
width: 23.5%;
height: auto;
padding: 14px;
}
.btn-info
{
width: 23.5%;
height: auto;
padding: 14px;
}

}
@media only screen and (max-width:768px)
{
input 
{
text-align: right;
font-size: 25px !important;
}
.btn-secondary
{
width: 23.5%;
height: auto;
padding: 14px;
}
.btn-info
{
width: 23.5%;
height: auto;
padding: 14px;
}
}